body{
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;  /* align horizantly */
    align-items: center;  /* align vertically */
    background: rgb(86, 107, 228);
    font-family: Arial, Helvetica, sans-serif;

}

.container{
    position: relative;
    width: 350px;
    height: 450px;
    overflow: hidden;
}

.box{
    position: absolute;
}

.box1{
    margin: 30px 0;
    background: #eee;
    left: 0;
    height: 390px;

    padding: 0 40px;
    z-index: 2;
}

.box2{
    height: 45px;
    left: 100px;
    z-index: 1;
}
input{
    padding: 3px 5px;
    width: 200px;
}
#_btnSubmit{
    width: 100%;
    height: auto;
    padding: 8px;
    font-size: 18px;
    background-color: rgb(13, 115, 59);
    border: none;
    border-radius: 4px;
}
#_btnSubmit:hover{
    background: rgba(2, 71, 32, 0.856);
}
a{
    text-decoration: none;
    color: black;
}
